body {
  background-color: lightblue;

  font-family: "Share Tech Mono";
  font-size: 29px;
  width: 100%;
  color: #009462;
  color: black;
}




.name-div1 {
  display: inline;
  position: relative;
  padding: 5px;

}
.name-div2 {
  display: inline;
  position: relative;
  padding: 5px;
}
.vs-div {
  display: inline;
  position: relative;
  padding: 5px;
}
.name-container {
  padding: 20px;
}




h1 {
  color: #ff5a5a;
  color: #cd7b29;
  display: inline;
  position: relative;

}

#container {
  background-color: #eee6b4;
  background-color: #cdb400;
  background-color: #cdff8b;
  background-color: #ffe69c;
  width: 250px;
  position: relative;
  display: inline-block;
}
/*#ubercontainer{
    background-image: url("../images/Squirtle.jpg");
    position: relative;
    width:100%;

}*/
#top-row {
  border-bottom: 2px solid grey;
}
#bottom-row {
  border-top: 2px solid grey;
}

.board-space.left-column {
  border-right: 2px solid grey;
}
.board-space.right-column {
  border-left: 2px solid grey;
}
td {
  padding: 5px;
  min-width: 70px;
  height: 67px;
}

table {
  border-collapse: collapse;
  text-align: center;
  width: 40%;
}
